@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 3rem;
    --font-medium: 500;

    --primary: #5F7585;    
      --secondary: #C0C7CC;
      --fondo: #FFFFFF;
      --accent: #D4AF37;
      --accent2: #E63946;  
      --text-dark: #222;     
      --text-light: #fff;

    --first-color: #5F7585;

    /*--first-color: #5361ff;*/
    --white-color: #fafaff;
    --dark-color: #2a3b47;
    --text-color: #697477;

    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 2.25rem;
    --tit-font-size: 2.45rem;
    --tit-med-font-size: 3.4rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: .7rem;

    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 5rem;
        --h2-font-size: 2rem;
        --tit-font-size: 2.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, p { margin: 0; }
ul { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: var(--text-color); }
img { max-width: 100%; height: auto; display: block; }

.section { padding: 3rem 0; }

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb4) 0;
    text-align: center;
}

    .section-title::after {
        position: absolute;
        content: '';
        width: 32px;
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: var(--first-color);
    }

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
}

/*HEADER*/

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-logo {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;
}
.nav-logo-img {
    width: 10%;
    height: auto;
}

.nav-item { margin-bottom: var(--mb4); }
.nav-link { position: relative; color: var(--dark-color); }
    .nav-link:hover { color: var(--first-color); }
.nav-logo { color: var(--white-color); }
.nav-toggle { color: var(--white-color); font-size: 1.5rem; cursor: pointer; }

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
    .show { right: 0; }
}

/*HOME*/

.home { position: relative; overflow: hidden; background-color: var(--first-color); }
.home-container { height: calc(100vh - var(--header-height)); row-gap: 5rem; position: relative; z-index: 2; text-align: center; align-content: center; }
.home-title { 
    margin-top: 30vh;
    font-size: var(--big-font-size);    
    color: var(--white-color);
    line-height: 0.8;   
    text-shadow: 
    1px 1px 0 #94a3b8,
    2px 2px 0 #64748b,
    3px 3px 0 #475569,
    4px 4px 0 #334155,
    5px 5px 0 #1e293b,
    6px 6px 0 #0f172a,
    7px 7px 15px rgba(0, 0, 0, 0.3);
}
/*.home-scroll { padding-bottom: var(--mb4); }
.home-scroll-link { color: var(--white-color); }*/

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/******  boton inicio****/
.frame {
    padding-bottom: var(--mb4);
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
    text-align: center;
}
.custom-btn {
    width: 130px;
    height: 40px;
    /*color: var(--accent);*/
    /*color: #5F7585;*/
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #ba6;
}
.custom-btn:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.btn-1{
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg,#fea 0%,#dc8 49%,#a95 51%,#dc8 100%);
    border-radius: 5px;
}


/***** Nosotros  ABOUT ******/

.about-container { justify-items: center; row-gap: 2rem; text-align: center; }
.about-img img { width: 130px; }
.about-subtitle { font-size: var(--h2-font-size); color: var(--first-color); margin-bottom: var(--mb1); }
.about-text { margin-bottom: var(--mb4); }
.about-profession { display: block; margin-bottom: var(--mb4); }
.about-social-icon { font-size: 1.4rem; margin: 0 var(--mb1); }
.about-social-icon:hover { color: var(--first-color); }


.banner-about {
  width: 100%;
  background: linear-gradient(#dc8 ,#a95 51%,#dc8 );
  color: #fff;
  padding: 10px 10px;
  overflow: hidden; 
  position: relative;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

/****   roldanas  ****/
.st { position: relative; display: flex; gap: 5px; width: 100px; height: 100px; right: 90px;}
.st1{ position: relative; top:10%;left:0; background: url("./img/st2.png") no-repeat center / cover; width: 50px; height: 50px;animation: stid 2.5s linear infinite;}
.st2 { position: absolute; top:20%;left:43%; width: 50px;height: 50px;background: url("./img/st1.png") no-repeat center / cover; animation: stidd 2.5s linear infinite;} 
.st3 { position: absolute; top:60%; left:30%; background: url("./img/st1.png") no-repeat center / cover; width: 30px; height: 30px; animation: stid 2.5s linear infinite;}
.st1:hover , .st2:hover, .st3:hover { cursor: pointer; opacity: .5;}
@keyframes stid { to{ transform:rotate(360deg);}}
@keyframes stidd {to{ transform:rotate(-360deg);}}

.banner-texto {display: flex; align-items: center; gap: 150px;}
.banner-frase-1 { color: var(--dark-color); margin-left: 1px; font-size: 0.7rem; font-weight: 400;}

/******* Servicios   SKILLS ********/

.skills-container { row-gap: 2rem; }
.skills-subtitle { color: var(--first-color); margin-bottom: var(--mb3); }
.skills-name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb2);
    margin-bottom: var(--mb3);
    padding: .25rem .5rem;
    border-radius: .25rem;
    transition: .5s;
}
.skills-name:hover { background-color: var(--first-color); color: var(--white-color); }
.skills-img img { border-radius: .5rem; }

.skills-container { grid-template-columns: repeat(1, 1fr); align-items: center; }
.skills-img { height: 250px; }

.skills-img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    filter: blur(5px);
    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}
.carousel-img.active {
    opacity: 1;
    filter: blur(0);
}
.banner-servicios {
    width: 100%;    
    background: var(--primary); 
    padding: 1px 1px;
    overflow: hidden; 
    position: relative;
}
.banner-servicios h3 {
    padding-left: 15px;
    text-align: center;
    color: white;
}


/*PORTFOLIO*/

.portfolio { background-color: var(--white-color); }
.portfolio-container { justify-items: center; row-gap: 2rem; }
.portfolio-img { position: relative; overflow: hidden; }
.portfolio-img img { border-radius: .5rem; }

.portfolio-link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.portfolio-img:hover .portfolio-link { bottom: 0; }
.portfolio-link-name { color: var(--dark-color); }

/******** CONTACTO *******/

.contact-container { row-gap: 2rem; }
.contact-subtitle { font-size: var(--normal-font-size); color: var(--first-color); }
.contact-text { display: inline-block; margin-bottom: var(--mb1); }
.contact-inputs { display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 1rem; }

.contact-input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb4);
    border-radius: .5rem;
}

.contact-button {
    display: block;
    background-color: #ba6 ;    
    color: var(--white-color);
    padding: 0.75rem 2.5rem;
    margin-left: auto;
    margin-bottom: var(--mb5); 
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}
.mapa-contacto {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 40px;
    border:2px solid;
    border-color: #ba6;}

/*FOOTER*/

.footer { background-color: var(--dark-color); }
.footer-container { row-gap: 2rem; }
.footer-title { font-size: var(--normal-font-size); color: var(--white-color); margin-bottom: var(--mb2); }
.footer-link { padding: 0.25rem 0; }
.footer-link:hover { color: var(--first-color); }
.footer-social { font-size: 1.4rem; margin-right: var(--mb1); }
.footer-social:hover { color: var(--first-color); }
.footer-firma { padding-top: 25px};

/*MEDIA QUERIES*/

@media screen and (max-width: 435px) {
    .home-title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    body { margin: 0; }
    .section { padding-top: 4rem; }
    .section-title { margin-bottom: 3rem; }
    .section-title::after { width: 64px; top: 3rem; }

    .nav { height: calc(var(--header-height) + 1rem); }
    .nav-list { display: flex; }
    .nav-item { margin-left: var(--mb4); margin-bottom: 0; }
    .nav-toggle { display: none; }
    .nav-link { color: var(--white-color); }
    .nav-link:hover { color: var(--white-color); }
    .active::after { background-color: var(--white-color); }

    .home-container { height: 100vh; grid-template-rows: 1.7fr 1fr; row-gap: 0; }
    .home h1 .titulo {font-size: var(--big-font-size);}
    .home h1 .titulo {font-size: var(--tit-med-font-size);}
    .home h1 .subtitulo {font-size: var(--tit-med-font-size);}
    /*.home h1 .subtitulo {font-size: var(--big-font-size);}*/

    .about-container { grid-template-columns: repeat(2, 1fr); align-items: center; text-align: initial; padding: 1.4rem 0; }
    /*.about-img { width: 200px; height: 200px; }*/
    .about-img img { width: 235px; height: 235px; }

    /****   roldanas  ****/
    .st {right: 30px}    

    .banner-texto {display: flex; align-items: center; gap: 250px;}
    .banner-frase-1 { color: var(--dark-color); margin-left: 1px; font-size: 1.2rem; font-weight: 600;}

    /*.skills-container { grid-template-columns: repeat(2, 1fr); align-items: center; }*/

    .skills-container { grid-template-columns: repeat(2, 1fr); align-items: center; padding: 4rem 0;}
    .skills-img { height: 300px; }

    .portfolio-container { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); column-gap: 2rem; }

    .contact-container { grid-template-columns: repeat(2, 1fr); justify-items: center; }
    .contact-form { width: 380px; }

    .mapa-contacto {width: 100%; margin-top: 5vh; display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1000px;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 40px;
        border:2px solid; border-color: #ba6;}

    .footer-container { grid-template-columns: repeat(4, 1fr); justify-items: center; } 
    .footer-firma { display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1000px;
            margin: 15px auto;
            flex-wrap: wrap; };

} 

@media screen and (min-width: 1024px) {
    .bd-grid { margin-left: auto; margin-right: auto; }
}




